@import "tailwindcss";

@theme {
  --color-brand-cyan: #06b6d4;
  --color-brand-purple: #a855f7;
}

body {
  background-color: #030712; /* gray-950 */
  color: white;
  margin: 0;
  display: block;
  font-family: 'Outfit', sans-serif;
}

